<main id="engine">
  <h2>Engine Stuff</h2>

  <section>
    <h3>Mutate Array</h3>
    {{my-parent}}
  </section>

  <section>
    <h3>Increment Counter</h3>
    {{increment-thing}}
  </section>

</main>
