<h3>Parent</h3>

{{#each openChildren as |beatle|}}
  {{log child}}
  {{my-child
    beatle=beatle
    closeSelectedChild="closeChild"
  }}
{{/each}}

<button type="button" name="button" {{action "openChild"}}>Add Ringo</button>
