{{#each openChildren as |child|}}
  {{my-child
    child=child
    closeChild=(action "closeChild")
  }}
{{/each}}

<button type="button" name="button" class="add-child" {{action "openChild"}}>Add Ringo</button>
